form.translations-pack-language-selector {
  display: none;
}

form table.translations-tabs td, form table.translations-tabs th {
  text-align: center;
}
form table.translations-tabs td {
  background-color: #f2f2f0;
  font-weight: bold;
  cursor: pointer;
  border: solid #909090;
}

form table.translations-tabs td.has-error {
  color: #dc2323;
  font-weight: bold;
}

form table.translations-tabs td.active {
  background-color: #fcfcfa;
  font-size: larger;
}

.translation-pack > .form-wrapper {
  display: none;
}
.translation-pack > .form-wrapper.active {
  display: block;
}
